.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.form input {
  width: 100%;
  outline: none;
  margin: 0 auto;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #ffffff;
  transition: border 0.2s ease;
  caret-color: #a1a8b4;
  border: 1px solid #c5cad1;
  box-shadow: rgba(58, 61, 64, 0.09) 0px 10px 20px 10px;
}

.form input::placeholder {
  font-size: 14px;
  color: #a1a8b4;
}

.form label {
  display: block;
  text-align: start;
  padding-left: 20px;
  align-items: center;
}

.form button {
  color: #ffffff;
  background-color: #3578ea;
  border-radius: 25px;
  width: 30%;
  margin: 10px auto 0;
  transition: color 0.2s ease;
  padding: 10px 15px;
}

.form button:hover {
  background-color: #6167ff;
  box-shadow: rgba(58, 61, 64, 0.047) 0px 10px 20px 10px;
}

.nameWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.numberWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nameError,
.numberError {
  top: 0;
  left: 69px;
  font-size: 16px;
  position: absolute;
  color: #ea3535;
}

.numberError {
  left: 85px;
}

.successMessage {
  top: -100px;
  left: 210px;
  width: 100%;
  font-size: 16px;
  margin-top: 12px;
  position: absolute;
  color: rgb(31, 192, 31);
  transform: translate(-50%, -50%);
}
