.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.form input {
  width: 100%;
  outline: none;
  margin: 0 auto;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #fafafa;
  transition: border 0.2s ease;
  color: rgb(140, 140, 140);
  border: none;
}

.form input::placeholder {
  color: rgb(200, 200, 200);
}

.form label {
  display: block;
  text-align: start;
  padding-left: 20px;
  align-items: center;
}

.form button {
  width: 30%;
  margin: 10px auto 0;
  transition: color 0.2s ease;
  padding: 10px 15px;
}

.form button:hover {
  color: #fafafa;
  background-color: rgba(149, 255, 149, 0.774);
  box-shadow: 10px 10px 5px rgba(200, 200, 200, 0.056);
}

.nameWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.numberWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nameError,
.numberError {
  top: 0;
  left: 69px;
  font-size: 16px;
  position: absolute;
  color: rgb(255, 135, 135);
}

.numberError {
  left: 85px;
}

.successMessage {
  top: -100px;
  left: 210px;
  width: 100%;
  font-size: 16px;
  margin-top: 12px;
  position: absolute;
  color: rgb(181, 255, 181);
  transform: translate(-50%, -50%);
}
